<header>

    <h1>Espace du curateur</h1>

  <h2>
    Choses stables chez Cartagene
  </h2>

<h3>Équipe</h3>
<ul>
  <li>Alexandra : Directrice</li>
  <li>Mathieu : Directeur des opérations</li>
  <li>Catherine : ?</li>
  <li>Thibault : L'administrateur système / bioinformaticien</li>
  <li>Caroline : Responsable de l'Accès</li>
  <li>Philippe : Curateur</li>
</ul>
<hr>
<ul>
  <li>Émilie : Unité (pour les recontacts et les retraits)</li>
</ul>

<h3>Rôle</h3>

<p>Le curateur doit  :</p>
<ul>
  <li>
    Répondre aux chercheurs.
  </li>
  <li>
    Extraire les données.
  </li>
  <li>
    Nettoyer les données.
  </li>
  <li>
    Demander à la Biobanque une copie du rapport des échantillons et produire les données récentes.
  </li>
  <li>
    Produire le rapport pour le SDAC (CÉR).
  </li>
  <li>
    Mettre à jour la base des "requetes" dans MySQL BD_CARTAGENE.
  </li>
  <li>
    Valider les factures de la biobanque à l'aide des syntaxes (vues) dans BD_CARTAGENE avec les données les plus récentes.
  </li>
  <li>
    Effectuer les retraits de participants en priorité si cela survient
  </li>
  <li>
    Enlever les comptes Owncloud qui ne devraient plus avoir accès à des données. (projets terminés)
  </li>
  <li>
    S'assurer que les fichiers sur le SC (serveur sécurisé) soient a jour
  </li>
  <li>
    Mettre tous les mots de passe à jour dans le Keypass commun avec le IT de CaG.
  </li>
  <li>
    Créer une librairie de code pour faciliter les opérations.
  </li>
</ul>

<h3>Outils</h3>
<ul>
  <li><a href="https://wekan.cartagene.qc.ca/">Wekan</a></li>
  <li><a href="https://app.slack.com/client/TVCMB3G6S/CUZ1DD1BM">Slack</a></li>
  <li><a href="https://git.cartagene.qc.ca/">Gitlab</a></li>
  <li><a href="https://webmail05.sherwebcloud.com/owa/#path=/mail">Outlook (sherweb)</a></li>
  <li><a href="https://wiki.cartagene.qc.ca">Wiki</a></li>
  <li><a href="https://sdas.cartagene.qc.ca">SDAS</a></li>
  <li><a href="https://superset.cartagene.qc.ca">Superset</a></li>
  <li><a href="https://jbrowse.cartagene.qc.ca">Genome browser</a></li>
  <li><a href="https://questionnaires.cartagene.qc.ca">Limesurvey</a></li>
  <li><a href="https://opal.cartagene.qc.ca">Opal</a></li>
  <li><a href="https://files.cartagene.qc.ca">Owncloud</a></li>
  <li>Portail-participants</li>
</ul>


<!--
  <h2>
    Choses moins stables chez Cartagene
  </h2> -->

</header>
