<header>

    <h1>Espace du curateur</h1>

  <h2>
    Chose stables chez Cartagene
  </h2>

<h3>Équipe</h3>
<ul>
  <li>Alexandra</li>
  <li>Mathieu</li>
  <li>Catherine</li>
  <li>Thibault</li>
  <li>Caroline</li>
  <li>Philippe</li>
</ul>

<h3>Rôle</h3>

<p>

  Le curateur doit répondre aux chercheurs. Il doit aussi extraire les données.

</p>

<h3>Outils</h3>
<ul>
  <li>
    wekan
  </li>
  <li>
    slack
  </li>
  <li>
    gitlab
  </li>
  <li>
    outlook (sherweb)
  </li>
  <li>
    wiki
  </li>
  <li>
    sdas
  </li>
  <li>
    superset
  </li>
  <li>
    genome browser
  </li>
  <li>
    limesurvey
  </li>
</ul>



  <h2>
    Choses moins stables chez Cartagene
  </h2>

</header>
