
<header>
    <mat-card class="home-card">
        <mat-card-subtitle>Ce site est dédié à Cart@gene</mat-card-subtitle>
        <mat-card-title>CART@GENE le projet de génétique Québécois</mat-card-title>
        <mat-card-subtitle>Le site a été créé par Philippe Malric et n'est pas le site officiel de CART@GENE</mat-card-subtitle>
        <mat-card-content>

            <div  class="buttonDiv1" style="width:200px;">
                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile>

                        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" routerLink="/curateur">
                            <mat-icon style="color: red;" routerLink="/curateur">favorite</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <button mat-icon-button color="warn"  routerLink="/cartagene">
                          <mat-icon style="color: rgb(0, 102, 255);" >assessment</mat-icon>
                      </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-icon-button color="warn"  routerLink="/communication">
                            <mat-icon style="color: rgb(77, 74, 255);" >compare_arrows</mat-icon>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <button mat-icon-button color="warn"  routerLink="/catalogue">
                          <mat-icon style="color: rgb(14, 209, 0);" >toc</mat-icon>
                      </button>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button mat-icon-button color="warn"  routerLink="/form">
                        <mat-icon style="color: rgb(209, 84, 0);" >assignment</mat-icon>
                    </button>
                </mat-grid-tile>
                  

                </mat-grid-list>
            </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <div style="width: 200px; margin: auto;">
                <mat-grid-list cols="2" rowHeight="50px">
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Partage</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="warn">Aime</button>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>

        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>


</header>


